---
import { markdownify } from "@/lib/utils/textConverter";
import TestimonialSlider from "@/components/TestimonialSlider";
const { testimonial } = Astro.props;
---

{
  testimonial.data.enable && (
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="mx-auto mb-12 text-center md:col-10 lg:col-8 xl:col-6">
            <h2 set:html={markdownify(testimonial.data.title)} class="mb-4" />
            <p set:html={markdownify(testimonial.data.description)} />
          </div>
          <div class="col-12">
            <TestimonialSlider client:load testimonials={testimonial.data.testimonials} />
          </div>
        </div>
      </div>
    </section>
  )
}
